.text
{
 background-color: #424242;
 margin-right: 39px;
 /*text-align: center;*/
 

}



.image{
    height :26px;
    width: 26px;
    position: 1px;
   
}

a
{
color: white;
text-decoration: none;
}
